@keyframes backgroundAnimation {
  0% {
    background-position: 40%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 40%;
  }
}

.skeleton {
  max-width: 100%;
  background: linear-gradient(270deg, #e6e6e6, #b4b4b4);
  background-size: 400% 400%;
}

@media (prefers-reduced-motion: no-preference) {
  .skeleton {
    animation: backgroundAnimation 4s linear infinite;
  }
}
