.fullPageContainer {
  margin-top: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cross {
  width: 2rem;
  height: 2rem;
  transform-origin: center;
  animation: rotate 3s ease infinite;
  fill: #ec0000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
