.column {
  flex: 1;
  padding: 0 12px;
  max-width: 100%;
  flex-basis: var(--span-small, 100%);
  flex-grow: var(--span-small-grow, 1);
}

@media screen and (min-width: 1200px) {
  .column {
    padding: 0 12px;
    flex-basis: var(--span-large, 100%);
    flex-grow: var(--span-large-grow, 1);
  }
}
