{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 2,
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ]
  ]
}
